@import "tailwindcss";

:root {
  --background: oklch(0.9835 0.0079 253.8519);
  --foreground: oklch(0.2855 0.1488 265.5096);
  --card: oklch(0.9977 0.0032 197.1065);
  --card-foreground: oklch(0.0000 0.0000 0.0000);
  --popover: oklch(0.9977 0.0032 197.1065);
  --popover-foreground: oklch(0.0000 0.0000 0.0000);
  --primary: oklch(0.4244 0.1809 265.6377);
  --primary-foreground: oklch(1.0000 0.0000 0.0000);
  --secondary: oklch(0.5727 0.0091 358.0145);
  --secondary-foreground: oklch(0.0000 0.0000 0.0000);
  --muted: oklch(0.9285 0.0115 252.0920);
  --muted-foreground: oklch(0.5275 0.0205 253.4527);
  --accent: oklch(0.7047 0.1103 265.6450);
  --accent-foreground: oklch(0.0000 0.0000 0.0000);
  --destructive: oklch(0.6100 0.0803 266.5267);
  --destructive-foreground: oklch(0.0000 0.0000 0.0000);
  --border: oklch(0.8699 0.0163 253.9140);
  --input: oklch(0.7699 0.0168 253.9308);
  --ring: oklch(0.5255 0.1807 265.4651);
  --chart-1: oklch(0.5187 0.1576 265.5055);
  --chart-2: oklch(0.5187 0.1576 265.5055);
  --chart-3: oklch(0.7046 0.1120 265.3454);
  --chart-4: oklch(0.3696 0.1338 265.1914);
  --chart-5: oklch(0.3543 0.1653 265.7099);
  --sidebar: oklch(0.9835 0.0079 253.8519);
  --sidebar-foreground: oklch(0.0000 0.0000 0.0000);
  --sidebar-primary: oklch(0.4244 0.1809 265.6377);
  --sidebar-primary-foreground: oklch(1.0000 0.0000 0.0000);
  --sidebar-accent: oklch(0.9977 0.0032 197.1065);
  --sidebar-accent-foreground: oklch(0.0000 0.0000 0.0000);
  --sidebar-border: oklch(0.8699 0.0163 253.9140);
  --sidebar-ring: oklch(0.5255 0.1807 265.4651);
  --radius: 0.375rem;
  --letter-spacing: 0em;
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif;
  --font-mono: JetBrains Mono, ui-monospace, SFMono-Regular, monospace;
  --font-serif: Georgia, Cambria, "Times New Roman", serif;
  --radius-sm: 0.281rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.563rem;
  --radius-xl: 0.750rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 8px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0.0000 0.0000 0.0000);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 2px 8px 0px oklch(0.0000 0.0000 0.0000 / 0.05);
  --shadow-xs: 0px 2px 8px 0px oklch(0.0000 0.0000 0.0000 / 0.05);
  --shadow-sm: 0px 2px 8px 0px oklch(0.0000 0.0000 0.0000 / 0.10), 0px 1px 2px -1px oklch(0.0000 0.0000 0.0000 / 0.10);
  --shadow: 0px 2px 8px 0px oklch(0.0000 0.0000 0.0000 / 0.10), 0px 1px 2px -1px oklch(0.0000 0.0000 0.0000 / 0.10);
  --shadow-md: 0px 2px 8px 0px oklch(0.0000 0.0000 0.0000 / 0.10), 0px 2px 4px -1px oklch(0.0000 0.0000 0.0000 / 0.10);
  --shadow-lg: 0px 2px 8px 0px oklch(0.0000 0.0000 0.0000 / 0.10), 0px 4px 6px -1px oklch(0.0000 0.0000 0.0000 / 0.10);
  --shadow-xl: 0px 2px 8px 0px oklch(0.0000 0.0000 0.0000 / 0.10), 0px 8px 10px -1px oklch(0.0000 0.0000 0.0000 / 0.10);
  --shadow-2xl: 0px 2px 8px 0px oklch(0.0000 0.0000 0.0000 / 0.25);
}

.dark {
  --background: oklch(0.1440 0.0270 257.5467);
  --foreground: oklch(0.9762 0.0162 221.0739);
  --card: oklch(0.1138 0.0268 253.6960);
  --card-foreground: oklch(1.0000 0.0000 0.0000);
  --popover: oklch(0.1138 0.0268 253.6960);
  --popover-foreground: oklch(1.0000 0.0000 0.0000);
  --primary: oklch(0.6859 0.1142 265.4707);
  --primary-foreground: oklch(0.0000 0.0000 0.0000);
  --secondary: oklch(0.7320 0.0048 0.0511);
  --secondary-foreground: oklch(0.0000 0.0000 0.0000);
  --muted: oklch(0.2274 0.0252 253.8059);
  --muted-foreground: oklch(0.7323 0.0165 257.2129);
  --accent: oklch(0.3696 0.1338 265.1914);
  --accent-foreground: oklch(1.0000 0.0000 0.0000);
  --destructive: oklch(0.7098 0.0166 257.2150);
  --destructive-foreground: oklch(0.0000 0.0000 0.0000);
  --border: oklch(0.3098 0.0311 256.2589);
  --input: oklch(0.4087 0.0311 255.6996);
  --ring: oklch(0.5851 0.1149 265.6489);
  --chart-1: oklch(0.6099 0.1354 265.6776);
  --chart-2: oklch(0.5187 0.1576 265.5055);
  --chart-3: oklch(0.7602 0.0945 266.0483);
  --chart-4: oklch(0.3696 0.1338 265.1914);
  --chart-5: oklch(0.4247 0.1157 265.2962);
  --sidebar: oklch(0.1440 0.0270 257.5467);
  --sidebar-foreground: oklch(1.0000 0.0000 0.0000);
  --sidebar-primary: oklch(0.6859 0.1142 265.4707);
  --sidebar-primary-foreground: oklch(0.0000 0.0000 0.0000);
  --sidebar-accent: oklch(0.1065 0.0254 256.4632);
  --sidebar-accent-foreground: oklch(1.0000 0.0000 0.0000);
  --sidebar-border: oklch(0.3098 0.0311 256.2589);
  --sidebar-ring: oklch(0.5851 0.1149 265.6489);
  --radius: 0.375rem;
  --letter-spacing: 0em;
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif;
  --font-mono: JetBrains Mono, ui-monospace, SFMono-Regular, monospace;
  --font-serif: Georgia, Cambria, "Times New Roman", serif;
  --radius-sm: 0.281rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.563rem;
  --radius-xl: 0.750rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 8px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0.0000 0.0000 0.0000);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 2px 8px 0px oklch(0.0000 0.0000 0.0000 / 0.05);
  --shadow-xs: 0px 2px 8px 0px oklch(0.0000 0.0000 0.0000 / 0.05);
  --shadow-sm: 0px 2px 8px 0px oklch(0.0000 0.0000 0.0000 / 0.10), 0px 1px 2px -1px oklch(0.0000 0.0000 0.0000 / 0.10);
  --shadow: 0px 2px 8px 0px oklch(0.0000 0.0000 0.0000 / 0.10), 0px 1px 2px -1px oklch(0.0000 0.0000 0.0000 / 0.10);
  --shadow-md: 0px 2px 8px 0px oklch(0.0000 0.0000 0.0000 / 0.10), 0px 2px 4px -1px oklch(0.0000 0.0000 0.0000 / 0.10);
  --shadow-lg: 0px 2px 8px 0px oklch(0.0000 0.0000 0.0000 / 0.10), 0px 4px 6px -1px oklch(0.0000 0.0000 0.0000 / 0.10);
  --shadow-xl: 0px 2px 8px 0px oklch(0.0000 0.0000 0.0000 / 0.10), 0px 8px 10px -1px oklch(0.0000 0.0000 0.0000 / 0.10);
  --shadow-2xl: 0px 2px 8px 0px oklch(0.0000 0.0000 0.0000 / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
